{{#if showLoading }}
 {{loading-spinner}}
{{/if}}
<div class="{{{formClass}}} {{{checkoutState}}}">
  <div class="{{{hidePayPalVerify}}}">
    <p>{{I18n 'memberships.checkout.verify_paypal'}}</p>
    <center>{{d-button label="memberships.checkout.continue" id="continue-paypal" class="btn"}}</center>
  </div>
  <div id="paypal-checkout" {{action "submitPayPal"}} class="{{{hidePayPalButton}}}">
    <script src="https://www.paypalobjects.com/api/button.js?"
      data-merchant="braintree"
      data-id="paypal-button"
      data-button="checkout"
      data-color="blue"
      data-size="small"
      data-shape="rect"
      data-button_type="submit"
      data-button_disabled="false"
      >
    </script>
  </div>
  <hr class="{{{hidePayPalButton}}}">
  <div>
    <form id="checkout-form" class="form-horizontal {{{hideCreditCardFields}}}" action="/memberships/checkout/submit-payment" method="post">
      <div id="error-message"></div>

      <label class="control-label" for="card-number">Card Number</label>
      <div class="hosted-field" id="card-number"></div>

      <label class="control-label" for="cvv">CVV</label>
      <div class="hosted-field" id="cvv"></div>

      <label class="control-label" for="expiration-date">Expiration Date</label>
      <div class="hosted-field" id="expiration-date"></div>

      <input type="hidden" name="payment_method_nonce">

      <center>
        {{#if showContinueButton}}
        {{d-button action="submitPayment" disabled=continueDisabled label="memberships.checkout.continue" id="continue-checkout" class="btn"}}
        {{/if}}
        <input type="submit" value="{{I18n 'memberships.checkout.submit_checkout'}}" class="btn btn-primary {{{showSubmitButton}}}" disabled>
      </center>
    </form>
  </div>
</div>