<div id="checkout-progress">
  <div id="states-wrapper" class="{{state}}-state">
    <div class="state" id="sign-in">
      <div class="title">{{I18n 'memberships.checkout.progress.log_in'}}</div>
      <div class="indicator"></div>
    </div>
    <div class="state" id="billing-payment">
      <div class="title">{{I18n 'memberships.checkout.progress.billing_payment'}}</div>
      <div class="indicator"></div>
    </div>
    <div class="state" id="verify">
      <div class="title">{{I18n 'memberships.checkout.progress.verify'}}</div>
      <div class="indicator"></div>
    </div>
    <div class="state" id="completed">
      <div class="title">{{I18n 'memberships.checkout.progress.completed'}}</div>
      <div class="indicator"></div>
    </div>
    <div id="line"></div>
  </div>
</div>