<div class="league checkout">
  <div class="user-table">
    <div class="wrapper">
      <form class="form-horizontal" id="verify-state">
        <div class="billing-section">
          <h3>{{i18n 'league.checkout.billing_address'}}</h3>
          <div class="control-group">
            <label class="control-label">{{i18n 'league.checkout.name'}}</label>
            <div class="controls"><span>{{ model.transaction.credit_card.name }}</span></div>
          </div>
          <div class="control-group">
            <label class="control-label">{{i18n 'league.checkout.address_1'}}</label>
            <div class="controls"><span>{{ model.transaction.billing_address.address1 }}</span></div>
          </div>
          <div class="control-group">
            <label class="control-label">{{i18n 'league.checkout.address_2'}}</label>
            <div class="controls"><span>{{ model.transaction.billing_address.address2 }}</span></div>
          </div>
          <div class="control-group">
            <label class="control-label">{{i18n 'league.checkout.city'}}</label>
            <div class="controls"><span>{{ model.transaction.billing_address.city }}</span></div>
          </div>
          <div class="control-group">
            <label class="control-label">{{i18n 'league.checkout.state'}}</label>
            <div class="controls"><span>{{ model.transaction.billing_address.state }}</span></div>
          </div>
          <div class="control-group">
            <label class="control-label">{{i18n 'league.checkout.postal_code'}}</label>
            <div class="controls"><span>{{ model.transaction.billing_address.zip }}</span></div>
          </div>
          <div class="control-group">
            <label class="control-label">{{i18n 'league.checkout.country'}}</label>
            <div class="controls"><span>{{ model.transaction.billing_address.country_name }}</span></div>
          </div>
          <div class="control-group">
            <label class="control-label">{{i18n 'league.checkout.phone'}}</label>
            <div class="controls"><span>{{ model.transaction.billing_address.phone }}</span></div>
          </div>
        </div>
        <div class="billing-section">
          <h3>{{i18n 'league.checkout.payment_details'}}</h3>
          <div class="control-group">
            <label class="control-label">{{i18n 'league.transaction_id'}}</label>
            <div class="controls expiration">{{ model.transaction.transaction_id }}</div>
          </div>
          <div class="control-group">
            <label class="control-label">{{i18n 'league.product'}}</label>
            <div class="controls expiration">{{ model.transaction.product_name }}</div>
          </div>
          <div class="control-group">
            <label class="control-label">{{i18n 'league.transaction_date'}}</label>
            <div class="controls expiration">{{format-league-date model.transaction.transaction_date }}</div>
          </div>
          <div class="control-group">
            <label class="control-label">{{i18n 'league.transaction_amount'}}</label>
            <div class="controls expiration">{{format-currency model.transaction.transaction_amount }}</div>
          </div>
          <div class="control-group">
            <label class="control-label">{{i18n 'league.checkout.card_number'}}</label>
            <div class="controls"><span>{{obfuscate-credit-card model.transaction.credit_card.last_4}}</span></div>
          </div>
          <div class="control-group">
            <label class="control-label">{{i18n 'league.checkout.expiration_date'}}</label>
            <div class="controls expiration">{{ model.transaction.credit_card.expiration }}</div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>