{{#conditional-loading-spinner condition=model.loading}}
<div class="admin-contents user-licenses">
  <div class="dashboard-stats">
    <h3 class="stats-title">{{I18n 'memberships.subscriptions_title'}}</h3>
    <table class="table table-condensed table-hover">
    <thead>
      <tr>
        <th title="Subscription ID" class="title">{{I18n 'memberships.subscription_id'}}</th>
        <th title="Product" class="title">{{I18n 'memberships.product'}}</th>
        <th title="Paid Through Date" class="title">{{I18n 'memberships.paid_through_date'}}</th>
        <th title="Created" class="title">{{I18n 'memberships.created'}}</th>
        <th title="Actions" class="title">{{I18n 'memberships.actions'}}</th>
      </tr>
    </thead>
    <tbody>
    {{#each model.subscriptions as |subscription|}}
      <tr>
        <td>{{subscription.subscription_id}}</td>
        <td>{{subscription.product.name}}</td>
        <td>{{format-memberships-date subscription.subscription_end_date}}</td>
        <td>{{format-memberships-date subscription.created_at}}</td>
        <td>
          <button {{action "updateBilling" subscription}} class="btn">{{I18n 'memberships.update_billing'}}</button>
          {{#if subscription.active}}
          <button {{action "cancelSubscription" subscription}} class="btn">{{I18n 'memberships.cancel_subscription'}}</button>
          {{/if}}
        </td>
      </tr>
    {{/each}}
    </tbody>
  </table>
  </div>
  <div class="dashboard-stats">
    <h3 class="stats-title">{{I18n 'memberships.transactions_title'}}</h3>
    <table class="table table-condensed table-hover">
      <thead>
        <tr>
          <th title="Transaction ID" class="title">{{I18n 'memberships.transaction_id'}}</th>
          <th title="Product" class="title">{{I18n 'memberships.product'}}</th>
          <th title="Amount" class="title">{{I18n 'memberships.transaction_amount'}}</th>
          <th title="Date" class="title">{{I18n 'memberships.transaction_date'}}</th>
          <th title="Actions" class="title">{{I18n 'memberships.actions'}}</th>
        </tr>
      </thead>
      <tbody>
      {{#each model.transactions as |transaction|}}
        <tr>
          <td>{{transaction.transaction_id}}</td>
          <td>{{transaction.product_name}}</td>
          <td>{{format-currency transaction.transaction_amount}}</td>
          <td>{{format-memberships-date transaction.transaction_date}}</td>
          <td><button {{action "viewReceipt" transaction}} class="btn">{{I18n 'memberships.view_receipt'}}</button></td>
        </tr>
      {{/each}}
      </tbody>
    </table>
  </div>
</div>
{{/conditional-loading-spinner}}