{{#admin-nav}}
	{{nav-item route='adminPlugins.league.index' label='admin.league.titles.dashboard'}}
	{{nav-item route='adminPlugins.league.levels' label='admin.league.titles.levels'}}
{{!-- 	{{nav-item route='adminPlugins.league.gateways' label='admin.league.titles.gateways'}}
	{{nav-item route='adminPlugins.league.messages' label='admin.league.titles.messages'}}
	{{nav-item route='adminPlugins.league.advanced' label='admin.league.titles.advanced'}}
	{{nav-item route='adminPlugins.league.extras' label='admin.league.titles.extras'}} --}}
{{/admin-nav}}

<div class="admin-container">
  {{outlet}}
</div>