{{#admin-nav}}
	{{nav-item route='adminPlugins.guild.index' label='admin.guild.titles.dashboard'}}
	{{nav-item route='adminPlugins.guild.levels' label='admin.guild.titles.levels'}}
	{{nav-item route='adminPlugins.guild.pages' label='admin.guild.titles.pages'}}
	{{nav-item route='adminPlugins.guild.payment' label='admin.guild.titles.payment'}}
	{{nav-item route='adminPlugins.guild.messages' label='admin.guild.titles.messages'}}
	{{nav-item route='adminPlugins.guild.advanced' label='admin.guild.titles.advanced'}}
	{{nav-item route='adminPlugins.guild.extras' label='admin.guild.titles.extras'}}
{{/admin-nav}}

<div class="admin-container">
  {{outlet}}
</div>