{{#admin-nav}}
	{{nav-item route='adminPlugins.memberships.index' label='admin.memberships.titles.dashboard'}}
	{{nav-item route='adminPlugins.memberships.levels' label='admin.memberships.titles.levels'}}
{{!-- 	{{nav-item route='adminPlugins.memberships.gateways' label='admin.memberships.titles.gateways'}}
	{{nav-item route='adminPlugins.memberships.messages' label='admin.memberships.titles.messages'}}
	{{nav-item route='adminPlugins.memberships.advanced' label='admin.memberships.titles.advanced'}}
	{{nav-item route='adminPlugins.memberships.extras' label='admin.memberships.titles.extras'}} --}}
{{/admin-nav}}

<div class="admin-container">
  {{outlet}}
</div>