{{#conditional-loading-spinner condition=loading}}
<div class="league checkout update-billing">
  {{#if memberExists}}
  <div>{{i18n 'league.member_exists'}}</div>
  {{else}}
  {{checkout-progress state=checkoutState}}
  <div class="billing-section">
    {{#if showDescription}}
    <p>{{{model.0.description_cooked}}}</p>
    {{/if}}
  </div>
  <div class="user-table">
    <div class="wrapper">
      {{#if showBraintree}}
        {{billing-braintree leagueLevel=model showBilling=showBilling showVerify=showVerify showCompleted=showCompleted checkoutState=checkoutState}}
      {{else}}
        {{#if showBilling}}
          {{billing}}
        {{/if}}

        {{#if showVerify}}
          {{verify}}
        {{/if}}
      {{/if}} {{!-- showBraintree --}}

      {{#if showCompleted}}
        <div>{{{i18n 'league.checkout.update_billing.completed_message'}}}</div>
      {{/if}}
    </div>
  </div>
  {{/if}} {{!-- memberExists --}}
</div>
{{/conditional-loading-spinner}}