<div class="league checkout">
  {{checkout-progress state=checkoutState}}
  <div class="billing-section">
    {{#if showDescription}}
    <p>{{{model.0.description_cooked}}}</p>
    {{/if}}
  </div>
  {{#if currentUser }}
  <div class="user-table">
    <div class="wrapper">
      {{#if showBilling}}
      <form class="form-horizontal" id="billing-state">
        <hr>
        <div class="billing-section">
          <h3>{{i18n 'league.checkout.billing_address'}}</h3>
          <div class="control-group">
            <label class="control-label">{{i18n 'league.checkout.first_name'}}</label>
            <div class="controls">
              {{text-field value=memberDetails.first_name }}
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">{{i18n 'league.checkout.last_name'}}</label>
            <div class="controls">
              {{text-field value=memberDetails.last_name }}
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">{{i18n 'league.checkout.address_1'}}</label>
            <div class="controls">
              {{text-field value=memberDetails.address_1 }}
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">{{i18n 'league.checkout.address_2'}}</label>
            <div class="controls">
              {{text-field value=memberDetails.address_2 }}
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">{{i18n 'league.checkout.city'}}</label>
            <div class="controls">
              {{text-field value=memberDetails.city }}
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">{{i18n 'league.checkout.state'}}</label>
            <div class="controls">
              {{combo-box content=states value=memberDetails.billing_state}}
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">{{i18n 'league.checkout.postal_code'}}</label>
            <div class="controls">
              {{text-field value=memberDetails.postal_code }}
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">{{i18n 'league.checkout.country'}}</label>
            <div class="controls">
              {{combo-box content=countries value=memberDetails.country}}
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">{{i18n 'league.checkout.phone'}}</label>
            <div class="controls">
              {{text-field value=memberDetails.phone }}
            </div>
          </div>
        </div>
        <hr>
        <div class="billing-section">
          <h3>{{i18n 'league.checkout.payment_details'}}</h3>
          {{#if showPaymentOptions}}
          <div class="radio-field-choice">
            {{radio-button value="credit-card"
                           name="payment-type"
                           label="Credit Card"
                           selection=paymentType}}
            <span>{{i18n 'league.checkout.credit_card'}}</span>
            {{radio-button value="paypal"
                           name="payment-type"
                           label="PayPal"
                           selection=paymentType}}
            <span><img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/PP_logo_h_100x26.png" alt="PayPal" /></span>
          </div>
          {{/if}}
          {{#if showPaypal}}
          <img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/PP_logo_h_100x26.png" alt="PayPal" />
          {{else}}
          <div class="control-group">
            <label class="control-label">{{i18n 'league.checkout.card_number'}}</label>
            <div class="controls">
              {{text-field value=memberDetails.card_number }}
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">{{i18n 'league.checkout.expiration_date'}}</label>
            <div class="controls expiration">
              {{combo-box content=expMonths value=memberDetails.expiration_month class="expiration-month"}}
              <span>/</span>
              {{combo-box content=expYears value=memberDetails.expiration_year class="expiration-year"}}
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">{{i18n 'league.checkout.cvv'}}</label>
            <div class="controls">
              {{text-field value=memberDetails.cvv }}
            </div>
          </div>
          {{/if}}
        </div>
        {{#unless showPaypal}}
        <div align="center">
          <button {{action "submitBillingPayment"}} disabled={{disableSubmit}} class='btn btn-primary'>{{i18n 'league.checkout.submit_verify'}}</button>
        </div>
        {{/unless}}
      </form>
      {{/if}}

      {{#if showVerify}}
      <form class="form-horizontal" id="verify-state">
        <hr>
        <div class="billing-section">
          <h3>{{i18n 'league.checkout.billing_address'}}</h3>
          <div class="control-group">
            <label class="control-label">{{i18n 'league.checkout.first_name'}}</label>
            <div class="controls"><span>{{ memberDetails.first_name }}</span></div>
          </div>
          <div class="control-group">
            <label class="control-label">{{i18n 'league.checkout.last_name'}}</label>
            <div class="controls"><span>{{ memberDetails.last_name }}</span></div>
          </div>
          <div class="control-group">
            <label class="control-label">{{i18n 'league.checkout.address_1'}}</label>
            <div class="controls"><span>{{ memberDetails.address_1 }}</span></div>
          </div>
          <div class="control-group">
            <label class="control-label">{{i18n 'league.checkout.address_2'}}</label>
            <div class="controls"><span>{{ memberDetails.address_2 }}</span></div>
          </div>
          <div class="control-group">
            <label class="control-label">{{i18n 'league.checkout.city'}}</label>
            <div class="controls"><span>{{ memberDetails.city }}</span></div>
          </div>
          <div class="control-group">
            <label class="control-label">{{i18n 'league.checkout.state'}}</label>
            <div class="controls"><span>{{ memberDetails.billing_state }}</span></div>
          </div>
          <div class="control-group">
            <label class="control-label">{{i18n 'league.checkout.postal_code'}}</label>
            <div class="controls"><span>{{ memberDetails.postal_code }}</span></div>
          </div>
          <div class="control-group">
            <label class="control-label">{{i18n 'league.checkout.country'}}</label>
            <div class="controls"><span>{{ memberDetails.country }}</span></div>
          </div>
          <div class="control-group">
            <label class="control-label">{{i18n 'league.checkout.phone'}}</label>
            <div class="controls"><span>{{ memberDetails.phone }}</span></div>
          </div>
        </div>
        <hr>
        <div class="billing-section">
          <h3>{{i18n 'league.checkout.payment_details'}}</h3>
          {{#if showPaypal}}
          <img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/PP_logo_h_100x26.png" alt="PayPal" />
          {{else}}
          <div class="control-group">
            <label class="control-label">{{i18n 'league.checkout.card_number'}}</label>
            <div class="controls"><span>{{obfuscate-credit-card memberDetails.card_number}}</span></div>
          </div>
          <div class="control-group">
            <label class="control-label">{{i18n 'league.checkout.expiration_date'}}</label>
            <div class="controls expiration"><span class="expiration_month">{{ memberDetails.expiration_month }}/</span><span class="expiration_year">{{ memberDetails.expiration_year }}</span></div>
          </div>
          <div class="control-group">
            <label class="control-label">{{i18n 'league.checkout.cvv'}}</label>
            <div class="controls"><span>{{ memberDetails.cvv }}</span></div>
          </div>
          {{/if}}
        </div>
        {{#unless showPaypal}}
        <div align="center">
          <button {{action "editBillingPayment"}} disabled={{disableSubmit}} class='btn'>{{i18n 'league.checkout.edit_payment'}}</button>
          <button {{action "submitCheckout"}} disabled={{disableSubmit}} class='btn btn-primary'>{{i18n 'league.checkout.submit_checkout'}}</button>
        </div>
        {{/unless}}
      </form>
      {{/if}}

      {{#if showCompleted}}
        <div>{{{i18n 'league.checkout.completed_message'}}}</div>
      {{/if}}
    </div>
  </div>
  {{else}}
  <div>{{i18n 'league.checkout.sign_up_message'}}</div>
  <div class="account-buttons">
    <span>{{d-button action="showCreateAccount" class="btn-primary sign-up-button" label="sign_up"}}</span>
    <span>{{#d-button class="btn-primary" action="showLogin"}}{{fa-icon 'user'}} {{i18n 'log_in'}}{{/d-button}}</span>
  </div>
  {{/if}}
</div>